blank-motion.html
blank-sound.html
blank-stationary.html
condensed_prf-taylorgarrison.ipynb
condensed_prf.ipynb
data_cleaning.py
effects_of_interest.html
find_prf_byslice
find_prf-taylorgarrison.ipynb
.ipynb_checkpoints
html_viewers
niftis
sub-EBxGxCCx1986
sub-EBxGxEYx1965
sub-EBxGxPEx1959
sub-EBxGxYZx1949
sub-EBxGxZAx1990
sub-EBxLxHHx1949
sub-EBxLxQPx1957
sub-EBxLxTZx1956
sub-NSxGxBAx1970
sub-NSxGxBYx1981
sub-NSxGxHKx1965
sub-NSxGxHNx1952
sub-NSxGxIFx1991
sub-NSxGxNXx1990 
sub-NSxGxRFx1978 
sub-NSxGxXJx1998 
sub-NSxGxYRx1992 
sub-NSxLxATx1954 
sub-NSxLxBNx1985 
sub-NSxLxIUx1994 
sub-NSxLxPQx1973 
sub-NSxLxQFx1997 
sub-NSxLxQUx1953 
sub-NSxLxVDx1987 
sub-NSxLxVJx1998 
sub-NSxLxYKx1964 
sub-NSxLxYNx1999
zmaps
find_prf.ipynb
hrf_convolve.ipynb
stimulus_manipulation.ipynb
test.py
testing_masking.py
plot_brain.py
__pycache__/
sample_rois.py
mean_img/
rois/
tmp.ipynb

